<style type = 'text/css'>

.selected{
	outline:5px solid green; 
	opacity:0.5;
	z-index:300;
}
#photo-container{
	margin-top:10px;
}
#modal-footer{
	display:none;
}

</style>
<% if @albums.length > 0 %>
<select id = 'album-select' class = 'form-control'>
	<option>All Albums</option>
	<% @albums.each do |album| %>
		<% if @album and @album == album %>
			<option selected><%= album %></option>
		<% else %>
			<option><%= album %></option>
		<% end %>
	<% end %>
</select>
<% end %>

<% if @photos.length == 0 %>
<h1 class = 'centered'>No results to show</h1>
<% end %>

<div id = 'pagination-div' class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @photos %>
    </div>
    <%= will_paginate @photos, :container => false %>
  </div>

<div class = 'row' id = 'photo-container'>
<% @photos.each do |photo| %>
<% if @selected_ids.include?(photo.id) %>
<div class = 'photo-div selected' id = '<%= photo.id %>-photo-div' data-redirect = '<%= photo.compressed_path %>' data-type = '<%= photo.is_photo %>' data-id = '<%= photo.id %>'>
<% else %>
<div class = 'photo-div' id = '<%= photo.id %>-photo-div' data-redirect = '<%= photo.compressed_path %>' data-type = '<%= photo.is_photo %>' data-id = '<%= photo.id %>'>
<% end %>
	<% if photo.is_photo %>
		<img class = 'photo-img' src = '<%= photo.compressed_path %>'></img>
	<% else %>
		<video src = '<%= photo.compressed_path %>' autoplay></video>
	<% end %>
	<div class = 'photo-btns'>
		<div class = 'btn btn-success request-btn pull-left' data-id = '<%= photo.id %>'>Request</div>
	</div>
	<div class = 'photo-top-btns'>
		<div class = 'btn btn-danger delete-btn pull-right' data-id = '<%= photo.id %>'>X</div>
	</div>
</div>
<% end %>
</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id = 'show-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
        	<a href = '#' id = 'modal-title-link'></a>
        </h4>
      </div>
      <div class="modal-body" id = 'modal-body'>
      	
      </div>
      <div class = 'modal-footer' id = 'modal-footer'>
      	<div id = 'request-form'>
      		<p class = 'text smalltext'>Leave blank to request full video</p>
      		<div>
      			Start: <input id = 'start-time-input' class = 'time-input' type = 'text' placeholder = 'min:sec'>
      			End: <input id = 'end-time-input' type = 'text' class = 'time-input' placeholder = 'min:sec'>
      			<div class = 'btn btn-success'>Request</div>
      		</div>
      	</div>
      		

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_include_tag 'param_mod' %>
<script type = 'text/javascript'>
var albums = <%= raw(@albums) %>;

$('.photo-div').hover(function(){
	$(this).find('.photo-btns').show(100);
	$(this).find('.photo-top-btns').show(100);
}, function(){
	$(this).find('.photo-btns').hide(100);
	$(this).find('.photo-top-btns').hide(100);
});

$('#album-select').change(function(){
	selected = $("#album-select option:selected").text();
	if(selected == 'All Albums'){
		// insertParam('album', 'all');

		url = addParameter(window.location.href, 'album', 'all');
		url = removeURLParameter(url, 'page');
		window.location = url;
	}
	else{
		url = addParameter(window.location.href, 'album', selected);
		url = removeURLParameter(url, 'page');
		window.location = url;
		// insertParam('album', selected);
	}
});
$('.photo-div').click(function(){
	if($(this).attr('data-type') == 'false'){
		//video
		src = $(this).attr('data-redirect')
		var vid = $('<video src="'+src+'" controls></video>');
		$(vid).attr('id', 'modal-photo');
		$('#modal-body').html(vid);
		$('#show-modal').modal('show');
		$('#modal-title-link').attr('href', src);
		$('#modal-title-link').text(src);
		$('#modal-footer').show();
		$('#cut-link').attr('href', '/cut_video?id='+$(this).attr('data-id'));
	}else{
		src = $(this).attr('data-redirect')
		var photo = $('<img src="'+src+'"></img>');
		$('#modal-title-link').attr('href', src);
		$('#modal-title-link').text(src);
		$(photo).attr('id', 'modal-photo');
		$('#modal-body').html(photo);
		$('#show-modal').modal('show');
		$('#modal-footer').hide();
	}
});
$('.delete-btn').click(function(e){
	e.stopPropagation();
	var id = $(this).attr('data-id');
	$.ajax({
		url:'/delete_photo/'+id,
		type:'post',
		success:function(data){
			$('#'+id+'-photo-div').remove();
		}
	})
});
$('.request-btn').click(function(e){
	e.stopPropagation();
	var id = $(this).attr('data-id');
	$.ajax({
		url:'/request_photo/'+id,
		type:'post',
		success:function(data){
			console.log('here');
			$('#'+id+'-photo-div').toggleClass('selected');
		}
	});
})

$('video').each(function(){
	this.playbackRate = 5;
	this.loop = true
});

function insertParam(key, value)
{
    key = encodeURI(key); value = encodeURI(value);
    var kvp = document.location.search.substr(1).split('&');
    var i=kvp.length; var x; while(i--) 
    {
        x = kvp[i].split('=');
        if (x[0]==key)
        {
            x[1] = value;
            kvp[i] = x.join('=');
            break;
        }
    }
    if(i<0) {kvp[kvp.length] = [key,value].join('=');}
    document.location.search = kvp.join('&'); 
}

</script>