
<style type = 'text/css'>

#requested-row{
	margin-top:10px;
}
.requested-photo{
	cursor:pointer;
}

</style>


<div class = 'row'>
<% if @albums.length > 0 %>
<select id = 'album-select' class = 'form-control'>
	<option>All Albums</option>
	<% @albums.each do |album| %>
		<% if @album and @album == album %>
			<option selected><%= album %></option>
		<% else %>
			<option><%= album %></option>
		<% end %>
	<% end %>
</select>
<% end %>
</div>


<% if @requested.length == 0 %>
	<h1>Nothing to show</h1>
<% end %>


<div class= 'row' id = 'requested-row'>
<% @videos.each do |video| %>
<div class = 'photo-div' id = '<%= video.id %>-photo-div' data-redirect = '<%= video.compressed_path %>'>
	<video class = 'requested-photo' data-id = '<%= video.id %>' src = '<%= video.compressed_path %>' autoplay></video>
	<div class = 'photo-btns'>
		<div class = 'btn btn-default request-btn' data-id = '<%= video.id %>'>Request</div>
	</div>
</div>
<% end %>
</div>

<div class = 'row'>
<% @photos.each do |photo| %>
<div class = 'photo-div' id = '<%= photo.id %>-photo-div' data-redirect = '<%= photo.compressed_path %>'>
	<img class = 'requested-photo' data-id = '<%= photo.id %>' src = '<%= photo.compressed_path %>'></img>
	<div class = 'photo-btns'>
		<div class = 'btn btn-default request-btn' data-id = '<%= photo.id %>'>Request</div>
	</div>
</div>
<!-- </a> -->
<% end %>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id = 'show-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Get a closer view</h4>
      </div>
      <div class="modal-body" id = 'modal-body'>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type = 'text/javascript'>
$('.photo-div').hover(function(){
	$(this).find('.photo-btns').show(100);
}, function(){
	$(this).find('.photo-btns').hide(100);
});
$('.photo-div').click(function(){
	if($(this).attr('data-type') == 'false'){
		//video
		src = $(this).attr('data-redirect')
		var vid = $('<video src="'+src+'" controls></video>');
		$(vid).attr('id', 'modal-photo');
		$('#modal-body').html(vid);
		$('#show-modal').modal('show');
	}else{
		src = $(this).attr('data-redirect')
		var photo = $('<img src="'+src+'"></img>');
		$(photo).attr('id', 'modal-photo');
		$('#modal-body').html(photo);
		$('#show-modal').modal('show');
	}
});
$('.request-btn').click(function(e){
	e.stopPropagation();
	var id = $(this).attr('data-id');
	$.ajax({
		url:'/request_photo/'+id,
		type:'post',
		success:function(data){
			console.log('here');
			$('#'+id+'-photo-div').remove();
		}
	});
})


$('#album-select').change(function(){
	selected = $("#album-select option:selected").text();
	if(selected == 'All Albums'){
		window.location = '/requested';
	}
	else{
		window.location = '/requested?album='+encodeURIComponent(selected);
	}
});

// $('.requested-photo').click(function(){
// 	var that = this;
// 	$.ajax({
// 		url:'/request_photo/'+$(this).attr('data-id'),
// 		type:'post',
// 		success:function(data){
// 			$(that).remove();
// 		}
// 	})
// });
$('video').each(function(){
	this.playbackRate = 5;
	this.loop = true
});
</script>