
<style type = 'text/css'>
body{
	margin-left:20px;
	margin-right:20px;
}
img, video{
	height:200px;
}
.photo-div, .video-div{
	float:left;
}
#email-select{
	width:300px;
	margin-bottom:15px;
}
#requested-row{
	margin-top:10px;
}
.requested-photo{
	cursor:pointer;
}
</style>


<div class = 'row'>
<% if @albums.length > 0 %>
<select id = 'album-select' class = 'form-control'>
	<option>All Albums</option>
	<% @albums.each do |album| %>
		<% if @album and @album == album %>
			<option selected><%= album %></option>
		<% else %>
			<option><%= album %></option>
		<% end %>
	<% end %>
</select>
<% end %>
</div>


<% if @requested.length == 0 %>
<h1>Nothing to show</h1>
<% end %>


<div class= 'row' id = 'requested-row'>
<% @videos.each do |video| %>

	<video class = 'requested-photo' data-id = '<%= video.id %>' src = '<%= video.compressed_path %>' autoplay></video>

<% end %>
</div>

<div class = 'row'>
<% @photos.each do |photo| %>
<!-- <a href = 'unrequest_photo/<%= photo.id %>'> -->
<img class = 'requested-photo' data-id = '<%= photo.id %>' src = '<%= photo.compressed_path %>'></img>
<!-- </a> -->
<% end %>
</div>
<script type = 'text/javascript'>

$('#album-select').change(function(){
	selected = $("#album-select option:selected").text();
	if(selected == 'All Albums'){
		window.location = '/requested';
	}
	else{
		window.location = '/requested?album='+encodeURIComponent(selected);
	}
});

$('.requested-photo').click(function(){
	var that = this;
	$.ajax({
		url:'/request_photo/'+$(this).attr('data-id'),
		type:'post',
		success:function(data){
			$(that).remove();
		}
	})
});
$('video').each(function(){
	this.playbackRate = 15;
	this.loop = true
});
</script>